<p>Get the things you need for Home</p>
{% for entry in content %}
    <div class="fav-prod-wrapp">
        <div class="hover-wrap">
        <div class="hover-block">
            <div class="block-fur-title">
                <a href ="{{ entry.nid }}">{{ entry.title }}</a>
            </div>

            <div class = "stars">
                {% set counter = 0 %}
                {% for en in entry.rating %}
                    {% set counter = counter + 1 %}
                    <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                {% endfor %}
                {#{{ counter }};#}
                {% set counter2 = 0 %}
                {% set counter2 = 5 - counter %}
                {% if counter2 > 0 %}
                    {% for i in 1..counter2 %}
                        <i class="fa fa-star-o" aria-hidden="true" style="color:darkgray"></i>
                    {% endfor %}
                {% endif %}
                {#{{ counter2 }};#}
            </div>

            <div class="block-price">
                <p>${{ entry.field_price_value }}</p>
            </div>

            {#Hover items#}

            <div class="bar">
                <div class="search-icon">
                    <a href="#popup-{{ entry.id }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
                <div class="cart">
                    <a href="#">Add to Cart</a>
                </div>
                <div class="like_dislike">
                    <div class="like">
                        <a href={{ like_url }}><i class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>
                        <span id="like">{{ entry.likes }}</span>
                    </div>
                </div>
            </div>
        </div>

            <div class="block-fur-img">
                <img src="{{ entry.image }}"/>
            </div>
        </div>



        {#When clicked on Search#}
        <div id="popup-{{ entry.id }}" class="overlay">
            <div class="attachment" data-node-type="{{ entry.nid }}">
                <a class="close" href="#">&times;</a>
                <div class="attach-wrap">
                    <div class="popup-img">
                        <div class="search-image">
                            <img src="{{ entry.image }}">
                        </div>
                    </div>
                    <div class="popup-text">
                        <div class="search-title">
                            <h1>{{ entry.title }}</h1>
                        </div>

                        <div class="search-price">
                            <p>${{ entry.field_price_value }}</p>
                        </div>


                        <div class="search-body">
                            <p>{{ entry.body }}</p>
                        </div>
                        <div class="category">
                            <p>Categories:</p>
                            {% for en_key,en in entry.taxonomy_name %}
                                {% if en_key matches '/^\\d+$/' %}
                                    <div class="search-term">
                                        <a href ="{{ en.url }}"><p>{{ en.name }}</p></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>




{% endfor %}